@model SIS.Models.Registration.Grade

@{
    ViewData["Title"] = "Update Grade";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body" style="height: 75vh;">
                    <h2 class="text-center mb-4">Update Grade</h2>
                    <form asp-action="UpdateGrade">
                        <input type="hidden" asp-for="GradeId" />
                        <div class="form-group">
                            <label asp-for="GradeValue">Grade Value:</label>
                            <input asp-for="GradeValue" class="form-control" />
                            <span asp-validation-for="GradeValue" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GradePoint">Grade Point:</label>
                            <input asp-for="GradePoint" class="form-control" rows="5"/>
                            <span asp-validation-for="GradePoint" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Code">Grade Code:</label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Garde Description:</label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">Update Grade</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>