@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 88vh;
    width: 100%;
    transition: all 0.35s ease-in-out;
    background-color: #eff2f7;
}



/* Dashboard */
.dash {
    display: grid; /* This makes the container a grid */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Defines 4 equal-width columns */
    grid-template-rows: 60px 1fr 2fr; /* Defines rows with different heights */
    height: 87vh;
    margin-top: 15px;
    gap: 10px;
}

.dash-top-row {
    grid-column: span 3; /* Spans 3 columns */
    grid-row: 1;
}

.dash-middle-row {
    grid-column: span 3; /* Spans 3 columns */
    grid-row: 2;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.dash-bottom-row {
    display: grid; /* Set the parent div to use a grid layout */
    grid-template-columns: repeat(2, 1fr); /* Divide the row into 3 equal columns */
    grid-column: span 3; /* Spans 3 columns */
    grid-row: 3; /* Places this row in the 3rd row of the grid */
    gap: 10px; /* Add spacing between cards */
    padding: 5px; /* Add some padding */
}

.graph-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    grid-column: span 1; /* Each card spans 1 column */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dash-side-view {
    grid-column: 4; /* Places this div in column 4 */
    grid-row: span 3; /* Spans all 3 rows */
    display: grid; /* Nested grid for its children */
    grid-template-rows: 1fr 1fr; /* Two rows of equal height */
    gap: 10px;
}

.top-side-view {
    justify-content: space-between;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
    .top-side-view h4 {
        border-bottom: 2px solid black;
    }

.bottom-side-view {
    background-color: #fff;
}


.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Soft shadow */
    background-color: #fff;
}
/*    .card:first-child {
        background-color: #c5e1f5;  Light blue 
    }

    .card:nth-child(2) {
        background-color: #ffe6cc;  Light orange 
    }

    .card:nth-child(3) {
        background-color: #c6efce;  Light green 
    }

    .card:nth-child(4) {
        background-color: #ffc5c5;  Light pink */
    }

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .card-inner > .material-icons-outlined {
        font-size: 45px;
    }

.dash-main-card {
    background-color: #f1f5f9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); 
}

    .dash-main-card:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        opacity: 0.8;
    }

.main-card-inner {
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
    .main-card-inner > .material-icons-outlined {
        font-size: 85px;
    }
    .main-card-inner i {
        color: #075985;
        font-size: 60px;
    }
    .main-card-inner h1 {
        font-weight: bold;
        font-size: 40px;
    }





#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
    }

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: #FFF;
    }

.sidebar-logo {
    margin: auto 0;
}

    .sidebar-logo a {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
    }

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar-footer {
    margin-top: auto;
    padding-bottom: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}





.statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

    .statistic i {
        font-size: 24px;
        margin-right: 10px;
    }

    .statistic span {
        font-size: 16px;
        color: #666;
    }

    .statistic h1 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

.login-form-card {
    width: 40vw;
}

.data-row {
    margin-bottom: 0; /* Removes any margin between rows */
}

.prerequisite-data-row {
    margin-bottom: 0;
}


.navbar {
    padding: 0.5rem 1rem;
    height: 70px;
}

    .navbar .input-group-text,
    .navbar .form-control {
        border-color: #e0e0e0;
    }

        .navbar .form-control:focus {
            box-shadow: none;
            border-color: #primary;
        }

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.dropdown-item i {
    color: #666;
}

#menu-toggle {
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

    #menu-toggle:hover {
        background-color: #f0f0f0;
    }