@model SIS.Models.Accounts.AccountType

@{
    ViewData["Title"] = "Update Account Type";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body" style="height: 75vh;">
                    <h2 class="text-center mb-4">Update Account Type</h2>
                    <form asp-action="EditAccountType">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name">Account Name:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Account Description:</label>
                            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Type">Account Type:</label>
                            <input asp-for="Type" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Code">Account Code:</label>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">Update Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>