

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourApp</title>

    <!-- Bootstrap and site styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Zoom Web SDK CSS -->
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/3.13.1/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/3.13.1/css/react-select.css" />


    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        /* Hide meeting header and footer for a more embedded look */
        .meeting-app-container #wc-footer {
            display: none !important;
        }

        /* Optionally adjust other Zoom UI elements as needed */
    </style>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>

    <!-- jQuery and Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Zoom Web SDK JS -->


    <script src="https://source.zoom.us/3.13.1/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/3.13.1/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/3.13.1/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/3.13.1/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/3.13.1/lib/vendor/lodash.min.js"></script>

    <!-- For Client View -->
    <script src="https://source.zoom.us/zoom-meeting-3.13.1.min.js"></script>
    <script type="text/javascript" src="client-view.js"></script>


    <!-- Site JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>